/* trackpipe/public/css2/footer_v2.css */

#pagefooter {
    width: 100%;
    background: #848484;
    color: #fff;
    font-size: 0.8125rem;
    z-index: 110;
    -moz-osx-font-smoothing: grayscale;
    transform: translateZ(0);
}

#pagefooter .horiz-footer-nav {
    margin: 0px 7px;
    text-decoration: none;
}


#pagefooter-inner a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}
#pagefooter-inner a:hover {
    text-decoration: underline;
}

.invertIconography #pagefooter-inner a {
    color: #939497;
}

ul.horiz-footer-nav {
    list-style-type: none; 
    margin: 0px;
    padding: 0px;
    white-space: nowrap; 
}

ul.horiz-footer-nav li {
    display: inline-block;
    padding: 7px 7px 7px 2px;
    margin: 0;
}

ul.horiz-footer-nav li.first {
    background-image: none;
    padding-left: 0em;
} 

ul.horiz-footer-nav li.navSelected {
    font-weight: bold;
} 

#footer-logo-wrapper {
    float: left;
}

#footer-logo {
    background: url('/img/logo-white.svg') 0 6px no-repeat;
    background-size: 100%;
    float: left;
    height: 21px;
    margin: 2px 0px 0px 10px;
    width: 96px;
}
.invertIconography #footer-logo {
    background: url('/img/logo-gray.svg') 0 6px no-repeat;
    background-size: 100%;
}

#legal {
    float: right;
}


/* Internationalization language picker */


.lang-picker-lang {
    color: #ccc;
}
.has-rec-footer .lang-picker-lang {
    color: #939497;
}

.invertIconography .lang-picker-lang {
    color: #666;
}

/* The container */
.lang-picker {
    display: inline-block;
    text-align: right;
    padding: 0 0 0 4px;
    position:relative;

}

ul.horizNav .lang-picker li {
    display: block;
}

/* menu content (hidden by default) */
.lang-picker-content {
    display: none; /* bcmenu shows it */
    position: absolute;
    right:-7px;
    padding: 0 10px 0 0;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    bottom:100%;
    background-color: #848484; /* for ppp */
    background-image: none; /* override jquery-ui */
    width: 100%;
    font-family: inherit;
    font-size: inherit;
}

.has-rec-footer .lang-picker-content {
    background-color: #FFF;
    border: 0.25px solid #ccc;
}
.invertIconography.has-rec-footer .lang-picker-content {
    background-color: #212121;
    border: 0.25px solid #666;
}
/* new badge */

#lang-picker-vm {
    transform: translateZ(0);
}

#lang-picker-vm .newbadge {
    background:#fcff00;
    border-radius:2px;
    font-size:11px;
    color:#000;
    padding:0px 2px 1px;
    line-height:10px;
    font-weight:400;
    position:relative;
    top:-6px;
    box-shadow:1px 1px rgba(0,0,0,0.3);
}

.invertIconography .lang-picker-content {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.lang-picker-content a {
    padding: 0 17px 0 0;
}

.lang-picker-content a:hover {
    text-decoration: underline;
}

/* lang */


/* recommendations footer era: new design */

#pagefooter {
    background-color: #848484;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.invertIconography #pagefooter {
    background-color: #333;
    color: #939497;
}

/* new style footer */
.the-white-footer #pagefooter {
    background-color: #fff;
}
.the-white-footer #pagefooter-inner {
    height: 70px;
}
.the-white-footer #footer-logo {
    background: url('/img/logo-gray.svg') 0 6px no-repeat;
    background-size: 100%;
}
.the-white-footer #pgFt-inner a {
    color: #939497;
}

/* footer with recommendations banner */

.has-rec-footer #pagefooter {
    background-color: #fff;
}
.has-rec-footer.invertIconography #pagefooter {
    background-color: #212121
}

.has-rec-footer #pagefooter-inner {
    height: 70px;
}

.has-rec-footer #footer-logo {
    background: url('/img/logo-gray.svg') 0 6px no-repeat;
    background-size: 100%;
}
.has-rec-footer.invertIconography #footer-logo {
    background: url('/img/logo-gray.svg') 0 6px no-repeat;
    background-size: 100%;
}

.has-rec-footer #pgFt-inner a {
    color: #939497;
}
